 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display:ital@1&family=Raleway:ital,wght@1,100&family=Rubik+Pixels&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Open+Sans:wght@300&family=Playfair+Display:ital@1&family=Raleway:ital,wght@1,100&family=Rubik+Pixels&display=swap');

.Navbar {
  background-color: rgb(68, 68, 201);
  color: white;
  width: 100%;
  padding: 2px;
  border-radius: 93px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 140px;
  opacity: 1;
}
.Navbar h1 {
  font-size: 40px;
  font-family: 'Croissant One', cursive;
  /* font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Rubik Pixels', cursive; */
}
.Navbar p {
  font-size: 20px;
  font-family: 'Playfair Display', serif;
} 
